/*  ---- By Piyush ---- */
/*---------------------------------- Common Css  ----------------------------------*/
*::before, *::after, .btn, .animate, a, .fa, .top-strip, .head-top, .head-bottom, .main-menu a{
  transition:all 0.3s ease-in 0s;
  -moz-transition:all 0.3s ease-in 0s;
  -ms-transition:all 0.3s ease-in 0s;
  -o-transition:all 0.3s ease-in 0s;
  -webkit-transition:all 0.3s ease-in 0s;		
}
body {
  font-size:14px;
  margin:0;
  font-family: "Dosis", Helvetica, Arial, sans-serif;
}
a, a:focus, a:hover{	 
  text-decoration:none !important;
  outline:none !important;
}
h1, h2, h3, h4, h5, h6, p, ul, li{
  margin:0;
  padding:0;
}	
ul, li{
  list-style-type:none;
}
.relative{
  position:relative;
}
/* header */
.cust-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.inner-pages {
  background: rgba(0,0,0,0.6);
}
.top-strip {
  /* text-align: center; */
  margin: 0 0 0;
  padding: 0 0 0px;
  background: rgba(0,0,0,0.9);
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0 100px;
  position: absolute;
  top: 0;
}
.top-strip-left {
  float: left;
}
.top-strip-right {
  float: right;
}
.top-strip-right li, .top-strip-left li {
  display: inline-block;
}
.top-strip-left li a, .top-strip-right li a {
  font-size: 12px;
  color: #fff;
  padding: 0 15px;
  display: block;
  text-transform: uppercase;
}
.top-strip-left li a:hover, .top-strip-right li a:hover {
  color: #ead35a;
}

.main-hed {
  padding: 0 100px;
  z-index: 999;
  height: 60px;
  line-height: 60px;
  margin: 40px 0 0;
}

.logo a {
  display: block;
}
.logo img {
  width: 120px;
  height: 60px;
}
.header-menu {
  margin: 0 0 0 60px;
}
.header-menu li {
  display: inline-block;
}
.header-menu li a {
  display: block;
  color: #ffffff;
  font-size: 14px;
  padding: 0 8px;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: 300;
}
.header-menu li a:hover {
  color: #ead35a;
}
/* banner */
.parralex-banner {
  background-attachment: fixed !important;
  background-position: center center !important;
  background-size: cover !important; 
  position: relative;
}    	
.parralex-banner a {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.banner-title {
  position: relative;
  top: 50%;
  width: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  font-size: 96px;
  text-transform: capitalize;
  text-shadow: -1px 2px 1px #232121;
  color: #ffffff;
  border-top: 1px dotted #ffffff;
  border-bottom: 1px dotted #ffffff;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.parralex-banner a {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
/* index-1 */
.index-one .banner-title {
  position: relative;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: rgba(0,0,0,0.6);
  text-align: center;
  font-size: 40px;
  width: 30%;
  text-transform: capitalize;
  text-shadow: -1px 2px 1px #232121;
  border-radius: 4px;
  color: #ffffff;
  border-top: 0;
  border-bottom: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
/* index-2 */
.index-two .banner-caption {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  transform: translateY(-50%);
}
.banner-hed {
  color: #fff;
  text-transform: capitalize;
  font-size: 50px;
  padding: 10px 0;
}
.sub-hed {
  color: #e5e5e5;
  font-size: 18px;
  font-weight: 300;
}
.index-two .explore-now {
  width: 140px;
  text-align: center;
  margin: 24px auto;
  display: block;
  padding: 10px;
  text-transform: capitalize;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 0;
  color: #fff;
  border: 1px solid #ead35a;
  background: #ead35a;
  position: relative;
}
.index-two .explore-now:hover {
  background: rgba(0,0,0,0.3);
  color: #fff;
  border: 1px solid #ead35a;
}
/* prodcut-listing */
.product-listing {
  width: 100%;
  overflow: hidden;
}
.all-product-banner {
  text-align: center;
  padding: 150px 0 50px;
  height: 340px;
  position: relative;
  background-size: cover !important;
  z-index: 1;
  background-position: center center !important;
}
.all-product-banner::before {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  content: '';
  width: 100%;
  z-index: -1;
  height: 100%;
}
.cust-breadcrumb li {
  display: inline-block;
  padding: 0 3px;
}
.cust-breadcrumb li a, .cust-breadcrumb li span {
  color: #ead35a;
  display: block;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
}
.all-product-banner .banner-hed {
  padding: 30px 0;
}
.cust-breadcrumb li:first-child::before, .cust-breadcrumb li:last-child::after {
  content: '';
  background: #ffff0091;
  width: 120px;
  height: 1px;
  z-index: 7;
  position: absolute;
  top: 10px;
}
.cust-breadcrumb li:first-child::before {
  left: -140px;
}
.cust-breadcrumb li:last-child::after {
  right: -140px;
}
.product-collection {
  padding: 50px 0;
  text-align: center;
}
.collection-hed, .collection-hed:hover, .collection-hed:focus {
  border: 1px solid #ead35a;
  height: 38px;
  text-transform: uppercase;
  color: #ead35a;
  width: 180px;
  font-size: 16px;
  margin: 0 auto;
  line-height: 38px;
  display: block;
  background: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  position: relative;
}
.collection-content {
  border: 1px solid #ead35a;
  padding: 50px 0;
  margin: -20px 0 0;
  display: none;
}
.collection-content ul {
  text-align: center;
}
.collection-content li {
  display: inline-block;
  padding: 0 15px;
}
.collection-content li a {
  display: block;
  color: #ead35a;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  color: #232121;
}
.product-listing-wall {
  padding: 0 50px 50px;
}

.cust-row {
  margin: 0 -15px;
}
.product-item-row li {
  padding: 0 15px 30px;
  width: 20%;
  float: left;
}
.product-img {
  background: #e5e5e5;
  height: 300px;
  text-align: center;
  line-height: 300px;
}
.product-img img {
  width: 180px;
  margin: 0 auto;
}
.product-info {
  padding: 15px 0;
}
.product-name {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  color: #232121;
}
.disc {
  color: #000;
  font-weight: 600;
  padding: 10px 0; 
}
.product-price {
  color: #232121;
  font-size: 16px;
}
.load-more, .load-more:hover, .load-more:focus {
  width: 120px;
  background: #ead35a;
  color: #232121;
  font-size: 14px;
  text-transform: capitalize;
  text-align: center;
  height: 38px;
  line-height: 38px;
  border: 1px solid #ead35a;
  display: block;
  font-weight: 600;
  margin: 0 auto;
}
